/* overriding some global styles to avoid headache */
* {
    box-sizing: border-box;
    /* border: 1px rgba(127, 6, 131, 0.274) solid; */
    margin: 0;
}

/* define some fonts */
@font-face {
    font-family: "noto lite";
    src: url(fonts/NotoSans-VariableFont.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "noto reg";
    src: url(fonts/NotoSans-VariableFont.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "noto bold";
    src: url(fonts/NotoSans-VariableFont.ttf);
    font-weight: 600;
}

/* this is the side bar for filtering items */
div#sidebar {
    /* fixed position so it doesn't scroll */
    position: fixed;
    /* height of the whole view and 250px width */
    height: 100%;
    width: 250px;
    /* prevent unexpected scroll */
    overflow-x: hidden;
    /* some styles */
    font-family: "noto reg", sans-serif;
    font-size: 22px;
    color: #171C25;
    text-align: center;
    background-color: #fff2f0;
    box-shadow: 0px 0px 5px 1px #E4B9B3;
    padding: 10px;
}

fieldset {
    /* controlling border. apparantely the shorthand property doesn't work
       it may be overriden by the browser defaults */
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E84A27;

    /* some style */
    margin: 5px auto;
    text-align: left;
    font-size: 16px;
}

/* controlling inputs, selects, labels and buttons within fieldset */
fieldset input[type=number], button, select, option {
    font-family: "noto bold";
    min-width: 100px;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 5px;
    border: 1px #E84A27 solid;
    border-radius: 5px;
    text-align: center;
}
fieldset label {
    /* inline block to control their width */
    display: inline-block;
    min-width: 70px;
    /* separate them slightly from the check boxes and each other */
    margin: 0 0 5px 5px;
}
fieldset legend, #sidebar p {
    font-family: "noto bold";
}
/* adding some action to button */
#sidebar button:hover {
    background-color: #E4B9B3;
}
#sidebar button:active {
    background-color: #E84A27;
}

/* container of items cards */
div#itemsContianer {
    /* align cards centrally */
    text-align: center;
    /* padding to make the space arround the cards consistent with 
       the space between them */
    padding: 10px;
    /* leave space for the fixed side bar (which is 250px wide)*/
    margin-left: 250px;
}

/* stylize each card */
.itemCard {
    /* adding block attribute to controle their width while preserving inline attr */
    display: inline-block;
    width: 200px;
    height: 270px;
    /* relativve position won't affect them but make the card an ancor for its child
       so that any child with absolute position is positioned according to the card */
    position: relative;
    /* prevent unexpected scroll */
    overflow: hidden;
    /* separating them by 20px spaces 10 from each card and 10 from its next */
    margin: 10px 10px;
    /* style */
    /* border: 1px #E84A27 solid; */
    font-family: "noto bold", sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #171C25;
    border-radius: 7px;
    background-color: #fff2f0;
    box-shadow: 0px 0px 5px 1px #E4B9B3;
    /* animate the scale which happen on hover */
    transition: transform 250ms;
}
/* scale the card on hover */
.itemCard:hover {
    transform: scale(110%);
}

/* make all card contents like block to occupy all the line */
.itemCard * {
    display: block;
}

.itemImage {
    /* width 100% of the card and 75% of its height, 
       leaving 25% for the name and price 
       widht 100% is required for object fit property
       althogh the block element occupy 100% of prent by default */
    width: 100%;
    height: 75%;
    /* center the image in the specified width and height
       and prevent its stretching 
       note that this causes unexpected behavior without width 100% property*/
    object-fit: cover;
}

.itemName {
    height: 15%;
    /* this to align the text vertically */
    align-content: center;
    /* this three properties work together to replace the overflowed
       text with dots like this "item name is int.." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemPrice {
    height: 10%;
    font-size: 16px;
}

.discountBadge {
    /* absolute position anchored to the nearest relative parent
       if no relative parent, it will be anchored to the body */
    position: absolute;
    left: 0px;
    top: 15px;
    /* dimensions is the same as the used background image */
    width: 48px;
    height: 26px;
    /* trying to center text vertically as the align content property
       didn't work well this time */
    line-height: 22px;
    /* trying to center it horizontally */
    padding-right: 10px;
    /* style */
    background-image: url(./discount.png);
    color: white;
}